<!DOCTYPE html>
<html lang="en">

<head>

    <title>PerezDev</title>

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Robert Perez</h1>


                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="{{ url_for('static',filename='me.jpg') }}" alt="">
      <hr>

                <!-- Post Content -->
                <p class="lead">Cleaning up this site.</p>
                <p> Posted on March 6, 2017 at 7:00 PM</p>
                <p>So this site is hosted on a flask server, specifically one of the many running
                    at <a href="https://www.pythonanywhere.com">pythonanywhere.com</a>.
                    It's been a great (and cheap) resource, but in tooling around and just doing things for fun has resulted in my folder
                    and file organization becoming a mess. All of my routes are in one main flask app, and the three projects
                    I have going are all over the place in that file.
                </p>
                <p>Another issue with my current development path is that not much of it is in source control. I was just tooling
                around with some basic stuff so I didn't think to bother with it. At this point though I think it's reached a
                point where I have to start organizing and using git like I know I should.</p>

                <p>Anyways my first task that gave me trouble is using css in this flask served webpage. I tried to create
                    a css file inside the static/css directory for my site. Specifically I was creating a codeblock class to use
                in posts. However flask was not happy with linking both bootstrap and my css file as shown below.</p>
       <script src="https://gist.github.com/rjp0008/cd3c463b6a26d0fecf04f408b2230fca.js"></script>
                <p>After reading some blog posts, and realizing this isn't an effort in web design, I decided
                to use githubs inline gists if I ever needed to inline code. I know I don't have an eye for visual design,
                so using out of the box solutions that look great is the best solution for me.</p>
                <hr>

                <!-- Post Content -->
                <p class="lead">Starting a development blog for my adventures in coding and scripting.</p>
                <p> Posted on March 5, 2017 at 3:00 PM</p>
                <p>I finally decided to start a personal site after reading other people's and using them as very helpful resources.
                Hopefully something I post here will be as useful as the things I've read in the past.</p>
                <p>I expect many of my initial blog posts will be summations of the work I've already done as part of different sites hosted here.
                Most of this aforementioned work is only half completed or could be extended. Which is part of the reason I started this
                site, to create accountability and finish up some of these projects.</p>


                <hr>



            </div>



        </div>
        <!-- /.row -->


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; PerezDev 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
